<!DOCTYPE html>
<html lang="en-ca">
  <head>
    <meta charset="utf-8">
    <title>GeoHub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>

    <div class="header">
      <img src="/images/logo-64.svg">
        <div class="header-right">
          <ul class="list-group-inline push-0>"
          <li class="gutter-1-2 current"><a class="active" href="index.html">Him&Her</a></li>
          <li class="gutter-1-2"><a class="products" href="products.html">Products</a></li>
          <li class="gutter-1-2"><a class="about" href="#about">About Us</a></li>
          <li class="gutter-1-2"><a class="contact" href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>


  {% pattern products/index %}
  {{content}}
  {% pattern banner/banner %}

  </body>
</html>
